.img {
    background-image: url('/static/media/background.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
